In [2]:
pip install requests

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: requests in c:\anaconda\lib\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\anaconda\lib\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\anaconda\lib\site-packages (from requests) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\anaconda\lib\site-packages (from requests) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\anaconda\lib\site-packages (from requests) (2025.4.26)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import requests

In [4]:
url = "https://stephen-king-api.onrender.com/api/books"

res = requests.get(url);

In [5]:
res

In [6]:
json_data = res.json()

In [7]:
import pandas as pd
df = pd.json_normalize(json_data["data"])
#df
df[['id','Title','Publisher','villains']]

,id,Title,Publisher,villains
0,1,Carrie,Doubleday,"[{'name': 'Tina Blake', 'url': 'https://stephe..."
1,2,Salem's Lot,Doubleday,"[{'name': 'Kurt Barlow', 'url': 'https://steph..."
2,3,The Shining,Doubleday,"[{'name': 'Horace M. Derwent', 'url': 'https:/..."
3,4,Rage,Signet Books,[]
4,5,The Stand,Doubleday,"[{'name': 'Donald Merwin Elbert', 'url': 'http..."
...,...,...,...,...
58,59,The Outsider,Scribner,"[{'name': 'The Outsider (Creature)', 'url': 'h..."
59,60,Elevation,Scribner,[]
60,61,The Institute,Scribner,"[{'name': 'Gladys Hickson', 'url': 'https://st..."
61,62,Later,Hard Case Crime,[]
62,63,Billy Summers,Scribner,[]

In [8]:
url1 = "https://www.scrapethissite.com/pages/simple/"
response = requests.get(url1)

In [11]:
response.status_code

200

In [15]:
with open("scrapped_data/data1.html","w",encoding="utf-8") as f:
    f.write(response.text)